<launch>
    <arg name="scan_topic" default="scan"/>
    
    <param name="use_sim_time" value="true"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
      <remap from="scan" to="scan"/>
      <rosparam file="$(find turtlebot3_mapping)/params/mapping_params.yaml" command="load" />
    </node>
</launch>
