<launch>

  <!-- Run the map server -->
 <arg name="map_file" default="$(find turtlebot3_nav)/maps/new_map.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
 <param name="use_sim_time" value="true"/>
  <!--- Run AMCL -->
 <include file="$(find turtlebot3_nav)/launch/include/amcl.launch" />

  <!--- Run Move Base -->
 <include file="$(find turtlebot3_nav)/launch/include/move_base.launch" />

</launch>
